html {
  scroll-behavior: smooth;
}

.App {
  padding: 0px 100px 20px 100px;
}

/* Component LandingPage */

.LandingPage {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

/* Component Advertisement */

.LoyaltyIcon {
  margin-left: 10px;
  padding-top: 10px;
}
.Link{
  text-decoration: none;
  color: #000000;
}
.Link:hover{
  color: #4d4b4b;
}


/* Special Button */

.btn {
  color: #000000;
  position: relative;
  padding: 10px 30px;
  margin: 0px 15px;
  text-decoration: none;
  font-size: 1rem;
  transition: 0.2s;
  letter-spacing: 2px;
  text-transform: capitalize;
  overflow: hidden;
}
.btn:hover {
  background-color: #000000;
  color: whitesmoke;
  box-shadow: 0 10px 10px #4d4b4b;
  transition-delay: 0.2s;
}
.btn:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 10px;
  height: 10px;
  border-top: 2px solid #000000;
  border-left: 2px solid #000000;
  transition: 0.2s;
  transition-delay: 0.2s;
}
.btn:hover:before {
  width: 100%;
  height: 100%;
  transition-delay: 0s;
}
.btn:hover:after {
  width: 100%;
  height: 100%;
  transition-delay: 0s;
}
.btn:after {
  content: "";
  position: absolute;
  bottom: 0;
  right: 0;
  width: 10px;
  height: 10px;
  border-bottom: 2px solid #000000;
  border-right: 2px solid #000000;
  transition: 0.5s;
  transition-delay: 0.5s;
}
 
 /* features */

 .features {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 80px;
}

.feature {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.featureIcon {
  width: 50px;
  height: 50px;
}

.featureTitle {
  font-size: 20px;
  font-weight: 600;
  margin: 20px;
}

.featureDesc {
  color: gray;
  width: 50%;
  height: 100px;
}

/* footer */

Footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-top: 5px solid;
}

.footerUp {
  display: flex;
  justify-content: space-between;
  padding: 50px;
}

.fMenuTitle {
  font-size: 24px;
  padding-bottom: 24px;
}

.fList {
  padding: 0;
  list-style: none;
}

.fListItem {
  margin-bottom: 10px;
  color: gray;
  cursor: pointer;
}

.footerDown {
  flex: 1;
  padding: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.fIcons{
  display: flex;
  flex-direction: row;
  width: 50px;
  height: 50px;
  margin-right: 20px;
  margin-bottom: 10px;
}
.fIcons img{
  margin-right: 15px;
}

.copyright{
  font-weight: 300;
  font-size: 24px;
}